<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="es6-shim/es6-shim.min.js"></script>
    <script src="systemjs/dist/system-polyfills.js"></script>
    <script src="angular2/es6/dev/src/testing/shims_for_IE.js"></script>
    <script src="systemjs/dist/system.src.js"></script>
    <script src="angular2/bundles/angular2-polyfills.js"></script>

    <script src="rxjs/bundles/Rx.js"></script>
    <script src="angular2/bundles/angular2.dev.js"></script>
    <script src="angular2/bundles/router.dev.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
        System.config({
            packages: {
                app: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('app/main').then(null, console.error.bind(console));
    </script> -->

    <script src="core-js/client/shim.min.js"></script>
   <script src="zone.js/dist/zone.js"></script>
   <script src="reflect-metadata/Reflect.js"></script>
   <script src="systemjs/dist/system.src.js"></script>
   <!-- 2. Configure SystemJS -->
   <script src="/javascripts/systemjs.config.js"></script>
   <script>
     System.import('/app/main.js').catch(function(err){ console.error(err); });
   </script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <my-app></my-app>
  </body>
</html>
